/*存放公共样式变量*/


$height : 100px;
$color : green;
$width : 100px;
$meunheight :45px;
$fontSize:16px;
$titleFontSize:25px;
$slideFontSize:18px;
$meunBackColor:#444141;
$meunBackHoverColor:#171313;
$homeTitleHeight:50px;
$boxshowColor:#cecbcb;
