<div class="schoolInfoTitle"><i class="anticon anticon-api"></i>流程介绍</div>
<div class="flowStepContent">
  <nz-steps [(nzCurrent)]="current">
       <nz-step [nzTitle]="'用户授权'"></nz-step>
       <nz-step [nzTitle]="'添加学校信息'"></nz-step>
       <nz-step [nzTitle]="'完成'"></nz-step>
     </nz-steps>

     <div class="steps-content">
       <div class="qrStyles" *ngIf="current==0 && token">
         <qr-code [value]="ali_url" [size]="150"></qr-code>
         <p>扫码授权</p>
       </div>
       <button nz-button [nzType]="'primary'" (click)="power()" [nzSize]="'large'" *ngIf="current==0 && token">
          <span>点击授权</span>
       </button>
       <div class='hasToken' *ngIf="current==0 && !token">
           <p>您已验证，欢迎使用校收通！</p>
       </div>
       <button  nz-button [nzType]="'primary'" (click)="go()" [nzSize]="'large'"  *ngIf="current==1 && schoolNo">
          <span>点击添加学校信息</span>
       </button>
       <div class='hasToken' *ngIf="current==1 && !schoolNo">
           <p>学校信息已添加，欢迎使用校收通！</p>
       </div>
       <div class="over" *ngIf="current==2">
          欢迎使用校收通
       </div>
     </div>
     <div class="steps-action">
       <button nz-button [nzType]="'default'" (click)="pre()" *ngIf="current > 0">
         <span>上一步</span>
       </button>
       <button nz-button [nzType]="'default'" (click)="next()" *ngIf="current < 2">
         <span>下一步</span>
       </button>
       <button nz-button [nzType]="'primary'" (click)="done()" *ngIf="current === 2">
         <span>完成</span>
       </button>
     </div>
</div>
