<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.pay.bill.dao.BillDao">

    <update id="saveBillTradeNo" parameterType="java.lang.String">
        UPDATE student_bill
        <set>
          trade_no=#{trade_no},
          trade_status=#{trade_status}
        </set>
        WHERE out_trade_no = #{out_trade_no}
    </update>

</mapper>