@import "~styles/variables.scss";

:host ::ng-deep .logo {
      height: 32px;
      border-radius: 6px;
      margin: 16px;
			font-size: 25px;
 		  text-align: center;
 		  font-weight: 500px;
 		  color: #fff;
 		  line-height: 32px;
 		  background: #615e5e;
    }

    :host ::ng-deep .ant-layout-sider-collapsed .nav-text {
      display: none;
    }

    :host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
      display: none;
    }

    :host ::ng-deep .ant-layout-sider-collapsed .anticon {
      font-size: 16px;
      margin-left: 8px;
    }

    :host ::ng-deep .trigger {
      font-size: 18px;
      line-height: 64px;
      padding: 0 16px;
      cursor: pointer;
      transition: color .3s;
    }

    :host ::ng-deep .trigger:hover {
      color: #108ee9;
    }

		.layout {
			height: 100%;
		}

		.trigger {
			float: left;
		}

    .head {
      padding:0;
      background: #3ba0e9;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }

		.headTitlt {
		  font-size: 25px;
			text-align: center;
			font-weight: 500;
			color: #fff;
      height:100%;
      margin-left:200px;
      display: inline-block;
		}
    .user {
      margin-right: 30px;
      width: auto;
      height:100%;
      font-size: 16px;
      color: #fff;
      display:flex;
      justify-content: center;
      align-items: center;
      .userName {
        padding-left: 15px;
      }
    }
@media screen and (min-width: 300px) and (max-width: 1024px) {
  .head {
    padding:0;
    background: #3ba0e9;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  .headTitlt {
    font-size: 16px;
    font-weight: 500;
    height:100%;
    margin:0;
    color: #fff;
    display: inline-block;
  }
  .user {
    width:auto;
    font-size: 12px;
    color: #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    .userName {
      display: none;
    }
   
  }
}



		.nav-text {
			font-size:$slideFontSize;
		}

		.anticon {
			 font-size:$slideFontSize;
		}

    .childrenOutLet{
         padding:24px;
         background: #fff;
         height:100%;
         overflow: hidden;
    }
